*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #232830;
}

/* fonts */

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

.class::after{
    content:"";
    clear:both;
    display: table;
}

/* nav bar styling */

.nav{
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-left: 4rem;
    width: 100%
}

.nav li{
    margin-right: 4rem;
    float: left;
    margin-top: 2rem;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    padding-left: .5rem;
    margin-right: 2.9rem;
}

/* heading */

.heading img{
    margin-top: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.heading h1{
    color: #FF7575;
    font-family: 'Recursive';
    font-size: 71px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.heading h3{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/* listings */

.greyRow{
    border: 1px solid #4D4D4D;
    opacity: 0.2;
    margin-top: 4em;
    margin-bottom: 15px;
}

.listings ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    width: 75%;
    margin-left:13%;
}

.listings li{
    color: #909090;
    font-family: 'Recursive';
    font-size:18px;
    font-style: italic;
    font-weight: 400;
    width: 100%;
    padding-left: 1em;
}

.listings img{
    display: flex;
    justify-content: center;
}

/* cards */
.row{
    margin-top: 5em;
}

.articles{
    margin-left: 10em;
}

div.card{
    display: block;
    margin-top: 2em;
    margin-left: 2em;
    width: 25%;
    height: 25em;
    background-color: #fff;
    float: left;
    text-align: left;
    border-radius: 22px;
    padding: 1em;
    position: relative;
    overflow: scroll;
}

div.card img{
    padding: .5em .2em;
    width: 100%;
    height: auto;
}

div.cardTitle{
    font-family: Poppins-Bold;
    padding-top: 1.8m;

}

div.container{
    font-family: Poppins;
    padding-top: .8em;
}

/* card footer */

div.cardFooter{
    font-family: Poppins;
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}

ul.footer{
    list-style-type: none;
}

.footer li {
    font-family: Poppins;
    color: black;
    margin-right: 4rem;
    float: left;
}

/* pagination */

.pagination p{
    color: #909090;
    font-style: italic;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    padding-top: 6em;
    font-family: 'Recursive';
}

.pagination{
    display: inline-block;
}

.center{
    text-align: center;
}

/* webFooter */

.webFooter{
    width: 35%;
    color: white;
    padding: 3em;
    display: block;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    position: absolute;
    left: 0;
    padding: 10px;
    margin-bottom: 20em;
    padding-left: 10em;
    width: 50%;
    padding-bottom: 5em;;
}

.webFooter span {
    background-color: #4699E0;
    border-radius: 5px;
    padding: 0.25em;
    font-size: 14px;
    margin-left: 0.5em;
}

.twitter{
    background-color: #4699E0;
    border-radius: 5px;
    color: white;
    display: block;
    float: right;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    margin-right: 9em;
    padding: 0.25em;
    margin-top: 0.35em;
}
